:root {
  --primary: #4facfe;
  --dark: #111;
  --light: white;
}

body {
  font-family: Arial;
  margin: 0;
  transition: 0.3s;
}

/* DARK MODE */
.dark {
  background: #111;
  color: white;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  padding: 15px 30px;
  background: var(--dark);
  color: white;
}

.nav-links {
  display: none;
  flex-direction: column;
  position: absolute;
  right: 0;
  background: var(--dark);
  width: 200px;
}

.nav-links li {
  list-style: none;
  padding: 15px;
}

.burger {
  font-size: 24px;
  cursor: pointer;
}

/* HERO */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

/* SECTIONS */
.section {
  padding: 60px 20px;
  text-align: center;
}

/* PROJECTS */
.projects-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.project-card {
  background: #f4f4f4;
  padding: 20px;
  border-radius: 10px;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
}

/* TABLET */
@media (min-width: 768px) {

  .nav-links {
    display: flex;
    flex-direction: row;
    position: static;
    width: auto;
  }

  .burger {
    display: none;
  }

  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* DESKTOP */
@media (min-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}